@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@if (User.IsInRole("Client"))
{
    <a href="@Url.Action("ClientPage", "Home")">Accéder à la page Client</a>
}
else if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("AdminPage", "Home")">Accéder à la page Admin</a>
}
else if (User.IsInRole("Mod"))
{
    <a href="@Url.Action("ModPage", "Home")">Accéder à la page Mod</a>
}
else if (User.IsInRole("Assist"))
{
    <a href="@Url.Action("AssistPage", "Home")">Accéder à la page Assist</a>
}
