@model TirelireProject.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ShoppingCart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartProductAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartProductAdded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartProductCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartProductCancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartShipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartShipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartPriceHT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartPriceHT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
